body {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: column;
  background-color: rgb(13, 42, 138);
  color: lightgray;
  font-family: Lato, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.7;
  margin: 0;
  align-items: center;
}

h1 {
  margin-top: 20px;
  text-align: center;
  font-size: 46px;
}
#score {
  font-size: 36px;
  align-items: left;
}

h2 {
  text-align: left;
  font-size: 20px;
}

h3 {
  text-align: center;
  font-size: 46px;
}

ul {
  text-align: left;
  font-size: 16px;
  list-style-type: none;
}

li {
  font-size: 14px;
  list-style-type: none;
}

#game-info {
  display: flex;
  flex-direction: row;
  align-items: right;
  border: 1 lightgray solid; /* Border doesn't appear, why? */
  list-style-type: none;
  padding-left: 10px;
}

#board {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  justify-content: space-between;
  max-width: 1000px;
}

#instructions {
  font-size: 14px;
  max-width: 40%;
}

button {
  border-radius: 8px;
  border: 0.5;
  border-color: lightgray;
  color: lightgray;
  cursor: pointer;
  /* display: inline-block; */
  height: 2.75em;
  background-color: inherit;
  min-width: 100px;
  max-width: 150px;
  margin-top: 50px;
}

#screen-start {
  background-color: none;
  margin-top: 50px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#screen-playing {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: left;
}

#screen-game-over {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
