body {
  background-image: url(./images/ocean-firstpage.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  background-color: rgb(13, 42, 138);
  color: darkslategray;
  font-family: Lato, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.7;
  margin: 0;
  margin-bottom: 100px;
  align-items: center;
}

h1 {
  margin-top: 20px;
  text-align: center;
  font-size: 46px;
}

h2 {
  text-align: left;
  font-size: 20px;
}

h3 {
  text-align: center;
  font-size: 46px;
}

button {
  border-radius: 8px;
  border: 0.5;
  border-color: gray;
  font-weight: bold;
  color: darkslategray;
  cursor: pointer;
  height: 2.75em;
  background-color: inherit;
  min-width: 100px;
  max-width: 150px;
  margin-top: 50px;
}

/* Board */

#board {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 5px;
  justify-content: space-between;
  max-width: 1000px;
}

#score {
  font-size: 36px;
  align-items: left;
  padding: 30px;
}

#game-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 10px;
}

#info-food {
  padding-right: 10px;
}

#info-garbage {
  padding-left: 10px;
}

/* 3 screens: start, playing and game over */

#screen-start {
  margin-top: 50px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#screen-playing {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: left;
}

#screen-game-over {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.donate-link {
  color: darkslategray;
  font-weight: 700;
}

/* Footer: credits & follow me */

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  color: #292c2f;
  min-width: 500px;
}

footer ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

footer div {
  display: flex;
  align-items: center;
}

footer li {
  padding-left: 10px;
}

footer a {
  color: #292c2f;
  text-decoration: none;
  font-size: x-small;
  font-weight: bold;
}

footer a:hover,
footer a:focus {
  color: #292c2f;
  text-decoration: none;
}
