/* body {
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  background-color: blue;
  border: 1px solid black;
}
 */
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 46px;
    color: grey;
}
